label {
   cursor: pointer !important;
   /* Style as you please, it will become the visible UI component. */
}

#user_foto {
   opacity: 0 !important;
   position: absolute !important;
   z-index: -1 !important;
}